@media only screen and (max-width: 769px) {
    h1 {
    font-size: 50px;
    }

    h2 {
        font-size:15px;
    }
    
    h3 {
        font-size:15px;    
    }
    
    h4 {
        font-size:7px;
    }
    
    h6 {
        font-size:15px;
    }

    p {
        font-size: 10px;
    }
    
    #infoSection {
        width: 93%;
        height: auto;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
    
    #demoReel {
        width: 93%;
        height: 300px;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
    
    .headerStyle {
        height: 720px;
    } 
    
    .centersubtitle {
    width:200px;
    text-align: left;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    }

}



.logos img{
    width: 20px;
    padding-left: 3px;
}
 

@media only screen and (min-width: 769px) { 
    
    h1 {
        font-size: 100px;    
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 20px;  
    }
    
    p {   
	   font-size: 14px;
    }
    
    .logos img{
    width: 40px;
    padding-left: 5px;
}
    
    .centersubtitle {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    }
    
}